services:
  photoprism:
    image: photoprism/photoprism
    container_name: photoprism
    restart: unless-stopped
    networks:
      - traefik_default
    environment:
      UID: 99
      GID: 100
      TZ: Australia/Brisbane
      PHOTOPRISM_ADMIN_PASSWORD: ${PHOTOPRISM_ADMIN_PASSWORD}
      PHOTOPRISM_UPLOAD_NSFW: "true"
      PHOTOPRISM_DETECT_NSFW: "false"
      PHOTOPRISM_HTTP_PORT: 2342
      PHOTOPRISM_PUBLIC: "true"
      PHOTOPRISM_DATABASE_DRIVER: "sqlite"
      PHOTOPRISM_SITE_URL: https://photos.zero
    ports:
      - "2342:2342"
    volumes:
      - /mnt/user/photos:/photoprism/originals
      - /mnt/cache/appdata/photoprism/storage:/photoprism/storage
    labels:
      - net.unraid.docker.icon=https://raw.githubusercontent.com/findthelorax/unraid-templates/main/images/photoprism.png
      - net.unraid.docker.webui=https://photos.zero
      - traefik.enable=true
      - traefik.http.routers.photoprism.rule=Host(`photos.zero`)
      - traefik.http.routers.photoprism.entrypoints=https
      - traefik.http.routers.photoprism.tls=true
      - traefik.http.routers.photoprism.service=photoprism
      - traefik.http.services.photoprism.loadbalancer.server.port=2342
      - traefik.http.services.photoprism.loadbalancer.server.scheme=http 

networks:
  traefik_default:
    external: true